# OpenIG runtime files
**/openig_home/logs/
**/openig_home/tmp/
**/openig_home/data/
/tmp/

# Docker volumes (nếu mount local)
mysql_data/
wordpress_data/
vault/file/

# macOS
.DS_Store

# IDE
.idea/
*.iml
.vscode/
*.log
**/openig_home/keystore.p12

# Stack-C runtime vault credentials
**/openig_home/vault/
**/vault/init/role_id
**/vault/init/secret_id
**/vault/data/
