# PRODUCTION: use K8s Secret -> envFrom secretRef
# kubectl create secret generic stack-b-secrets --from-env-file=.env
JWT_SHARED_SECRET=<base64 shared JWT signing secret for Stack B OpenIG nodes>
KEYSTORE_PASSWORD=<OpenIG keystore password>
OIDC_CLIENT_SECRET=<Keycloak client secret for openig-client-b>
OIDC_CLIENT_SECRET_APP4=<Keycloak client secret for openig-client-b-app4>
MYSQL_ROOT_PASSWORD=<MySQL root password for Redmine database>
REDMINE_DB_PASSWORD=<MySQL password for Redmine user>
REDMINE_SECRET_KEY_BASE=<Redmine secret_key_base value>
REDIS_PASSWORD=<generate-strong-password>
