# PRODUCTION: use K8s Secret -> envFrom secretRef
# kubectl create secret generic stack-c-secrets --from-env-file=.env
JWT_SHARED_SECRET=<base64-encoded-jwt-shared-secret>
KEYSTORE_PASSWORD=<keystore-password>
OIDC_CLIENT_SECRET_APP5=<oidc-client-secret-for-app5>
OIDC_CLIENT_SECRET_APP6=<oidc-client-secret-for-app6>
MYSQL_ROOT_PASSWORD=<mysql-root-password>
MYSQL_PASSWORD=<mysql-user-password>
